
  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/img/not-found.gif" class="img-fluid img-404 py-5" alt="Page Not Found">
        <h2>Ocurrio un error inesperado.</h2>
        <a class="btn" href="/auth/index">Volver al inicio</a>
      </section>

    </div>
  </main><!-- End #main -->