    {{> header}}
    {{> aside}}

  <main id="main" class="main d-flex justify-content-center">
<div class="container-fluid h-100">
  <iframe src="/assets/doc/manual.pdf" frameborder="0" class="w-100 h-100" style="min-height:600px !important;"></iframe>
</div>

  </main><!-- End #main -->