    {{> header}}
    {{> aside}}

  <main id="main" class="main">

      <div class="card" style="width: 70wh;">
    <div class="card-body">
      <h5 class="card-title">Contacto:</h5>
      <p class="card-text">Si estas interesado/a en realizar mejoras del sistema para que se adapte mejor a tus necesidades no dudes en comunicarte con nosotros. Asi mismo, si tienes inconvenientes para el uso del sistema podemos ayudarte. Estamos a un clic de distancia.</p>
    </div>
  </div>

    <div class="d-flex justify-content-between">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Web:</h5>
      <p class="card-text">https://acoslegacy.com/</p>
      <a href="https://acoslegacy.com/" target="_blank" class="btn btn-primary">Ir</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Correo:</h5>
      <p class="card-text">info@acoslegacy.com</p>
      <a href="mailto:info@acoslegacy.com" class="btn btn-primary">Enviar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Celular:</h5>
      <p class="card-text">(341) 315-3523</p>
      <a href="https://wa.me/3413153523?text=Hola%2C%20me%20estoy%20contactando%20utilizando%20el%20canal%20de%20soporte%20del%20sistema%20Kyber%20Manager%20" target="_blank" class="btn btn-primary">WhatsApp</a>
    </div>
  </div>
</div>

      <div class="card" style="width: 70wh;">
    <div class="card-body">
      <h5 class="card-title">AVISO:</h5>
      <p class="card-text">Recuerda que la v1.0.0, es una demo de prueba lite, por lo que este propotipo podria tener funciones muy acotadas o basicas para tu entidad.<br>Gracias por entender y utilizar nuestro sistema.</p>
    </div>
  </div>

        <div class="card" style="width: 70wh;">
    <div class="card-body">
      <h5 class="card-title">DATOS:</h5>
      <p class="card-text"> <b>Horas de desarrollo:</b> <br>80hrs totales</p>
      <p class="card-text"><b>Dependencias utilizadas:</b><br>
          "bcrypt": "^5.1.0",<br>
          "bootstrap-icons": "^1.10.3",<br>
          "cors": "^2.8.5",<br>
          "dotenv": "^16.0.3",<br>
          "express": "^4.18.2",<br>
          "express-session": "^1.17.3",<br>
          "express-validator": "^6.14.2",<br>
          "hbs": "^4.2.0",<br>
          "jsonwebtoken": "^9.0.0",<br>
          "mongoose": "^6.8.0",<br>
          "path": "^0.12.7"<br>
      </p>
    </div>
  </div>

  </main><!-- End #main -->